
body{
	background-color:lightblue;
	font-family:"futura";
	width:1000px;
	color:white;

}


#container{
	width: auto 1000px auto;
	display:grid;
	grid-template-columns:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows:100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}


#image{
	width:400px;
	grid-column-start:2;
	grid-row-start:1;

}


p{
	font-size:30pt;
	grid-row-start:3;
	grid-column-start:6;
	grid-column-end:;
	width:300px;
	
	
}
